.top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-wrapper {
  width: 50%;
  max-width: 200px;
}

.logo-wrapper image {
  width: 100%;
}

.loginBtn {
  margin-right: 10px;
}

.alert {
  text-decoration: underline;
  animation-name: blink;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.alert:hover {
  animation-play-state: paused;
  transform: scale(1.05);
}

