.top-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-wrapper {
  width: 200px
}

.logo-wrapper image {
  width: 100%;
}

.loginBtn {
  margin-right: 10px;
}



