/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  text-align: center;
  background-color: #7bb6db;
  color: white;
  padding: 10px;
  margin-top: 0px;
}

h2 {
  text-align: center;
}

.btn {
  padding: 10px 25px;
  border-radius: 3px;
  border: none;
}

.btn-normal {
  background-color: #7bb6db;
  color: white;
}

.btn-form {
  background-color: white;
  color: #000;
  box-shadow: 3px 3px 5px;
}

.main-center {
  width: 90%;
  max-width: 700px;
  margin: auto;
}

.img-container img {
  width: 100%;
}

form {
  background: rgba(242, 5, 5, .7);
  padding: 40px 40px 20px 40px;
  border-radius: 3px;
}

fieldset,
.csv-form-control {
  border: none;
  background-color: white;
  color: #000;
  box-shadow: 3px 3px 5px;
  border-radius: 3px;
  padding: 15px;
  margin-bottom: 10px;
}

