/* You can add global styles to this file, and also import other style files */

/* html,
body {
  height: 100%;
  box-sizing: border-box;
} */

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

h1 {
  text-align: center;
  background-color: #7bb6db;
  color: white;
  padding: 10px;
  margin-top: 0px;
}

h2, h3 {
  text-align: center;
}

.btn {
  padding: 10px 25px;
  border-radius: 3px;
  border: none;
  box-shadow: 3px 3px 5px #000;
}

.btn:hover {
  transform: scale(1.05);
}

.btn:active {
  transform: translate(1px, 2px);
}

.btn:disabled {
  box-shadow: none;
  color: rgba(256,256,256, .3);
  background-color: rgba(0, 0, 0, .2)
}

.btn:disabled:hover {
  transform: none
}

.btn-normal {
  background-color: #7bb6db;
  color: white;
}

.btn-form {
  background-color: white;
  color: #000;
  box-shadow: 3px 3px 5px;
}

.main-center {
  width: 90%;
  max-width: 700px;
  margin: auto;
}

.img-container img {
  width: 100%;
}

/* loading spinner */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

