.wrapper {
  margin: auto;
}

form {
  background: rgba(242, 5, 5, .7);
  padding: 40px 40px 20px 40px;
  border-radius: 3px;
}

fieldset,
.csv-form-control, .notice {
  margin: 30px auto;
  background-color: white;
  color: #000;
  box-shadow: 3px 3px 5px;
  border-radius: 3px;
  padding: 15px;
  border: none;
}

.legend {
  grid-column: 1/5;
  margin: 0px 0px 10px 0px;
}

app-file-upload {
  display: block;
}

.note {
  font-size: 12px;
}

.showMoreLess {
  grid-column: 1/5;
  font-size: 12px;
}

.counties,
.allCounties {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
}

.form-control {
  display: flex;
  align-items: center;
}

.form-control label {
  margin: 0px 10px 0px 5px;
}

.favoritesImgWrapper {
  width: 20px;
}

.favoritesImgWrapper img {
  width: 100%;
}

.favoritesImgWrapper:hover {
  transform: scale(.8);
}

.btn-form-wrapper {
  display: flex;
  justify-content: flex-end;
  margin-top: 10px;
}

.notice {
  display: flex;
  align-items: center;
}

.notice button {
  background-color: rgba(242, 5, 5, .7);
}

.notice p {
  margin: 0px;
}